 {% load static %}
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">SVDental</span>
    </a>

    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{{ user.patient.photo_path }}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">{{ user.last_name }} {{ user.first_name }}</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            {% url 'patient_signup' as signup %}
            <a href="{{ signup }}" class="nav-link {% if request.path == signup %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Записаться
              </p>
            </a>
          </li>
          <li class="nav-item">
            {% url 'patient_appointments' as patient_appointment %}
            <a href="{{ patient_appointment }}" class="nav-link {% if request.path == patient_appointment %} active {% endif %}">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Приемы
              </p>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>